@import "tailwindcss";
@plugin "@tailwindcss/forms";

* {
  scrollbar-color: transparent transparent;
}
*::-webkit-scrollbar {
  display: none;
}
.card {
  @apply relative rounded-lg p-4 border border-gray-200 shadow-2xs shadow-indigo-100;
}
